*{
    background: radial-gradient(rgb(219, 143, 143),white,rgb(108, 108, 192));
}
div{
    height: 300px;
    width: 250px;
    border-color: blue;
    background: red;
    padding-top: 80px;
    padding-left: 80px;
    /*padding-right: 50px;*/
    /*float: right; /* float : is used for align whole div tag */
    margin: 5px ;
    border-style: dotted;
    border-width: 5px;
    box-shadow: 15px 20px 10px 10px;
    animation-name: myAnimation;
    animation-duration: 3s;
}
div:hover{
    background: rgb(9, 78, 18);
    border-color: black;

}
/*@keyframes myAnimation {
  from {background-color: red;}/*it changes the background colour from red to yellow after 3s
  to {background-color: yellow;}
}*/
@keyframes myAnimation {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
