a:visited {
    color: rgb(250, 47, 47);
}
/* Hover Selector */
#id3:hover {
    background-color: yellow;
}
#id4:hover{
    color: blueviolet;
}
/* active */
#id1:active {
    background-color: brown;
}
#id2:active{
    color: brown;
}
/* focus */
input:focus {
    background-color: rgb(60, 18, 212);
}
/* first-child */
li:first-child {
    color: red;
}
/* last-child */
li:last-child {
    color: rgb(21, 5, 78);
}
/* nth-child*/
li:nth-child(3){
    color: rgb(154, 81, 223);
}
input:checked {
    width: 20px;
    height: 20px;
}