h1{
    text-align: center;
    color: aliceblue;
    background-color: rgb(40, 17, 95);
}



.images{
    width: 320px;
    height: 350px;
    transition: 0.4s;
}

.images:hover{
    transform: scale(1.3);
}
div{
    display: flex;
}
